@font-face {
    font-family: dtSans;
    src: url(see_you_soon.ttf);
}

body {
	background-color: black;
	font-family: dtSans;
	color: white;
	padding: 60px 0;
}

p {
	text-align: center;
	vertical-align: middle;
}

nav {
	border-style: solid;
	border-color: white;
	border-width: 5px;
	text-align: center;
	vertical-align: middle;
	color: white;
	width: 500px;
	margin: auto;
	position: sticky;
	top: 0;
	padding-bottom:22px;
	padding-top:22px;
}

img {
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 40px;
	width: 45%;
	height: 45%;
}

a {
	text-decoration: none;
	color: white;
}

ul {
	list-style: none;
	display: inline;
	padding-left: 22px;
}

nav li {
	display: inline;
	padding-right: 20px;
}